<div class="banner" style="background-image:url(<%= asset_path "all-cocktails.jpg" %>)">
  <div class="banner-content">
    <h1>Fairy Cocktails</h1>
<!--     <%#= link_to("Add a cocktail", new_cocktail_path, class: 'btn btn-primary btn-lg') %> -->
  </div>
</div>
<h1 class="text-center mb-40px">Magic cocktails</h1>
<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4", style="padding: 0">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 300, crop: :fill %>')">
          <div class="card-name"><%= cocktail.name %></div>
          <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
        </div>
    </div>
  <% end %>
</div>

