.card {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-name {
  position: absolute;
  bottom: 10px;
  // left: 10px;
  font-size: 1.5em;
  z-index: 10;
  padding: 20px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: white;
  opacity: 0.2;
}
.card:hover .card-link {
  opacity: 0;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}


.pad {
  padding-left: 10px;
}

.link-hover {
  &:hover {
    opacity: 0.8;
    background: white;
  }
}
